*,
:after,
:before {
    box-sizing: border-box;
}

body,
html {
    height: 100%
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-sans-serif);
    font-size: 20px;
    color: var(--text-color);
}

.container {
    position: relative;
    padding: 40px;
    max-width: 480px;
}