@import 'variables';
@import 'libs/normalize';

body,html {
    height: 100%
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    color: #000;
}

.container {
    padding: 40px;
    max-width: 480px;
}

@import 'blocks/intro';
